include elems.jade

- var randomInteger = function (min, max) { return Math.floor(min + Math.random() * (max + 1 - min)); }
- var randomArray = function(arr) { return arr.sort(function() { return .5 - Math.random(); }).slice(0, randomInteger(1, arr.length)) }

doctype html
html
	head
		meta(charset='utf-8')
		title Omni ⦁ Lingo
		link(rel='stylesheet', type='text/css', href='css/elems.css')
		link(rel='stylesheet', type='text/css', href='css/main.css')
		link(rel='stylesheet', type='text/css', href='css/courses.css')
		script(type='text/javascript', src='js/libs/jquery-2.1.4.min.js')
		script(type='text/javascript', src='js/libs/jquery-ui.min.js')
		script(type='text/javascript', src='js/libs/interact.js')
		script(type='text/javascript', src='js/elems.js')
		script(type='text/javascript', src='js/main.js')
		script(type='text/javascript', src='js/courses.js')
		script(type='text/javascript', src='js/editor.js')
	body
		.menu_block
			.menu_group.left
				.menu_item.stat
				.menu_item.authors
			.menu_navigate
				span.course_title Время говорить по-русски
				span.separator= '●'
				span.lesson_num Урок 1
			.menu_group.right
				.menu_item.search
		.panels_block
			.panel.stat
				.stat_courses
					each course, i in new Array(6)
						+circleElem('course_stat')(size='big')
							| Время говорить по-русски
				.stat_body
					.stat_title Время говорить по-русски
					.stat_lessons
						each lesson, i in new Array(4)
							.stat_lesson
								.stat_lesson_title Lesson #{i+1}
								.stat_lesson_blocks
									each block, i in new Array(3)
										.stat_lesson_block
											.stat_block_title Scene #{i+1}
											.stat_block_exercises
												each exercise, i in new Array(5)
													.stat_exercise
														.stat_exercise_title Exercise #{i+1}
														.stat_exercise_metricks
															each metrick in new Array(10)
																.metrick_item(class=Math.random() < 0.5 ? 'cool' : '')


			.panel.authors: .authors_inner

				each author in new Array(15)
					.author_item
						.author_title
							.title_location RU / MOSCOW
							.title_name Anna Petanova
							.title_rating AA
						.author_body
							.body_column.left
								.body_photo
								.body_langs RU EN IT
								.body_subs 1234 Subscribes
							.body_column.right Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


		.content_block
			.column.left#resizable-element
				.column_inner
					img.logo(src='images/omni-logo-2.svg')
					+dropMenuElem('drop_navigate', ['Все', 'Мои', 'Подписки', 'Подтвержденные'], 0)
					.courses_block
						each course, i in new Array(50)
							- var lessons = new Array(randomInteger(3,10))
							.course_block
								.course_description_block
									.course_langs
										each lang in randomArray(['RU', 'EN', 'JP', 'FR', 'IT', 'DE'])
											.lang= lang
									.course_title Время говорить по-русски
									.course_subscribe ПОДПИСАТЬСЯ
								.course_preview_lessons
									each lesson, i in lessons
										.preview_circle ⦁
								.course_lessons_block
									each lesson, i in lessons
										+circleElem('lesson_item')
											| Урок #{i+1}
								.course_tags_block
									each tag in randomArray(['moscow', 'grammar', 'lexical', 'phonetics', 'food', 'tourism'])
										.tag= tag

			.column.right
				.column_inner
					+dropMenuElem('drop_navigate', ['Все', 'Сцена 1', 'Сцена 2', 'Сцена 3'], 0)
					.lesson_chapters_block
						each chapter, i in new Array(3)
							.lesson_chapter
								.chapter_title Сцена #{i+1}
								.chapter_sections_block
									each section, i in new Array(10)
										.section_block
											.section_description
												.section_type Задания
												.section_title Супер секция #{i+1}
											.section_body
												p(lang="ru") Что же это за 4-е измерение? Оно похоже на время, но это не совсем время. Это такое особенное время, которое течёт со скоростью, обратно пропорциональной расстоянию между планетой и солнцем. И относительно этого времени планета двигается с постоянной скоростью по кругу в 4 измерениях. А в обычном времени его тень в трёх измерениях двигается быстрее, когда она находится ближе к солнцу.
												img(src='images/lessons/01.png')
												.strings
													| Я говорю
													+dropMenuElem('content_select', ['раз', 'два', 'три'], 0)
													| ты говоришь
													+dropMenuElem('content_select', ['раз', 'два', 'три'], 0)
													| вот и поговорили
													br
													| тралала парам пам пам.
												p(lang="ru") Звучит странно – но это просто необычный способ представления обычной ньютоновской физики. Этот способ известен по крайней мере с 1980 года благодаря работе математического физика Юргена Мозера. А я узнал об этом, получив на email работу за авторством Джеспера Горансона под названием «Симметрии в задаче Кеплера» (8 марта 2015).
			#resize-handle: .line